*{
    padding: 0;
    margin:0;
    box-sizing: 0;
}
html{
    font-family: 'Libre Franklin', sans-serif;
}
.ping{
    text-align: center;  
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.one span{
    font-weight: 700;
}
.wls{
    align-content: centre;
}
.one{
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}
.two {
    font-size: 12px;
    text-align: center;
}
#aaa{
    position: relative;
    left: 11%;
    border-radius: 4rem;
    padding-left: 1rem;
    width: 71%;
    height: 7vh;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    border-color: hsl(223, 87%, 63%);;
    border-width: 1px;
}
.bbb{
    display: block;
    width: 75%;
    height: 8vh;
    position: relative;
    left: 11%;
    border-radius: 4rem;
    background-color: hsl(223, 87%, 63%);
    color: white;
}
.img{
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: 8vw;
}
.social{
    text-align: center;
}
.one1{
    font-size: 10px;
    text-align: center;
    margin-top: 1.3rem;
}
@media screen and (min-width:1020px){
    .one{
        font-size:30px;
    }
    #aaa{
        position:relative;
        left:32%;
        width:20vw;
        height: 5vh;
        margin-right: 2rem;
        text-align: center;
    }
    .bbb{
        display: inline;
        margin-left:15rem;
        width: 12vw;
        height: 5vh;
    }
    .img{
        width: 50%;
        height: 30%;
        position: relative;
        left: 20%;
    }
 
 }